
/*nathem el css */

*{
    margin: 0;
    padding: 0;
}
    /*photo d'acceuil*/
    
    *{
        margin: 0;
        padding: 0;}
    
        .container{
            background: url(welco.jpg);
            color: blanchedalmond;
            position: relative;
            height: 100vh;
            align-items: center;
            font-family: nike combat stencil;
            justify-content: center;
            display: flex;
            background-size: 100%;
        }
        
        .color-overlay{background: linear-gradient(to top right , blue , red);
        width: 100%;
    height: 100%;
    opacity: .4;
    position: absolute;}
    
    /*End photo d'acceuil*/
    :root {
        --shadow-color: #FF9E9E;
        --shadow-color-light: white;
      }
      
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
      body {
        font-family: "Archivo", sans-serif;
        background-color: #192824;
      }
      
     .t {
        margin: calc(50vh - 40px) auto 0 auto;
        font-size: 165px;
        text-transform: uppercase;
        font-family: "Archivo Black", "Archivo", sans-serif;
        font-weight: normal;
        display: block;
        height: auto;
        text-align: center;
            z-index: 1;
            margin-top: -110px;
      }
      
      .logo-1 {
        color: white;
        animation: neon 3s infinite;
      }
      
      @keyframes neon {
        0% {
          text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
          0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
          0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
        }
        50% {
          text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
          0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
          0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
        }
        100% {
          text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
          0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
          0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
        }
      }

    /*navbar*/
.container-fluid{
display : flex;
background-color: #E71D36;
}
.navbar {
    height : 80px;
    background-color: #E71D36;
}
.collapse{
    float: left;
    margin-right: 500px;
    justify-content: space-between;
    margin:0 1.5em;
    background-color: #E71D36;
 
}
.navbar-light {
    background-color: #E71D36;
}
    end navbar*/

    /*section 1*/
.center{
    text-align: center;
    margin-top: 10px;
}    /*end section 1*/

    /*section 2*/
.section {
float: right;
margin-right: 50px;
}
.text{
    width:50%;
    float: left;
    margin-left: 100px;
    margin-top: 80px;
    
}
.centerr{ 
width: 100%;
margin-top: 30px;
margin-left: 500px;
z-index: 1;
}
.row {
  width:100%;
}
.top{
margin-top: 30px;
}
.boxy{
    width: 100%;
    height:400px;
    background-color:rgba(248, 246, 246, 0.979);
    box-sizing: content-box; 
}
    /*end section 2*/

    /*services*/
.card {
    margin-left: 30px;
    margin-top:40px;
}
.card:hover {
    background-color: #2EC4B6;
}
    /*end services*/
    /*PRICES*/
.btn {display: flex;
flex-direction: column;
width:80%;
}
.out{width:350px;}
.card-bodyy {display: flex;
}
    
    /*contact us*/
.box{
    width: 90%;
    height:400px;
    background-color:#FF9F1C;
    box-sizing: content-box;
    margin-left: 50px;
}
.image{
margin-left: 0px;
}
.form {
width: 30%;
float: right;
margin-top: -280px;
margin-right: 200px;
}
.sub{
float: right;
width: 40%;
margin-top: -350px;
margin-right: 50px;
}
    /*end contact us*/


.carousel {
margin-top: 100px;
width: 98%;
}


/*testimonials*/
.sc{
    display: flex;
   width: 100%;
}
.images {
    flex-direction:row;
    display: flex;
}
.column {
    flex-direction:column;
    z-index: -1;
}


/*footer*/
.map{
    float: right;
margin-right: 20px;
margin-top: -155px;
}
.contenu{
    max-width: 1170px;
    margin:auto;
}
.roww{
    display: flex;
}
ul {
    list-style: none;
}
.footer{
 background-color: #2EC4B6;
padding: 70px 0;
height: 250px;
}
.footer-col {
    width: 25%;
padding : 0 15px;
margin-top: -30px;
margin-left: 30px;
}
.footer-col h4 {
 font-size: 20px;
color: black;
text-transform: capitalize;
margin-bottom: 10px;
font-weight: 500;
margin-left: 20px;
}

.icons {
    margin-left: 50px;
display: flex;
flex-direction: column;
width: 50px;
}

.boxxy{
    height: 50px;
    background-color: #238d82;
margin-top: 50px;
}
/*footer*/
